<div>
  <%# Adding a custom class %>
  <%= heroicon "user", options: {class: "text-red-500"} %>
  
  <%# Custom classes appear at the end of the class name %>
  <%= heroicon "user", variant: :outline, options: {class: "h-10 w-10"} %>

  <%# Stroke width path option %>
  <%= heroicon "user", variant: :outline, path_options: {stroke_width: 1} %>
</div>
