<div>
  <%# Adding a custom class %>
  <%= heroicon "user", options: {class: "text-red-500"} %>

  <%# Adding a custom class and disabling default class %>
  <%= heroicon "user", options: {class: "text-red-500 h-10 w-10", disable_default_class: true} %>

  <%# Custom classes appear at the end of the class name %>
  <%= heroicon "user", variant: :outline, options: {class: "h-10 w-10"} %>

  <%# Stroke width path option %>
  <%= heroicon "user", variant: :outline, options: {stroke_width: 1} %>
</div>
