name: CI
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [2.5, 2.6, 2.7]
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Setup Ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install libsqlite3-dev
          gem update --system
          gem install bundler
          bundle install --jobs 4 --retry 3

      - name: Lint
        run: bundle exec rake lint

      - name: Test against rails main
        if: ${{ matrix.ruby == 2.7 }}
        run: |
          bundle exec appraisal rails-main bundle install
          bundle exec appraisal rails-main rake test
      - name: Test against rails 6.0
        run: |
          bundle exec appraisal rails-6-0 bundle install
          bundle exec appraisal rails-6-0 rake test
      - name: Test against rails 5.2
        run: |
          bundle exec appraisal rails-5-2 bundle install
          bundle exec appraisal rails-5-2 rake test